/* ACCUEIL */



/* BARRE DE NAV DU HAUT POUR DESKTOP ET TABLETTES*/
@media screen and (max-width: 2561px) {
  
  
  /* BARRE DE NAVIGATION */
    #navBarHaut.NavBarHaut-responsive-mobile{
      display: none;
    }


    #navBarHaut.NavBarHaut-responsive-desktop-tablet{
              /* Disposition de la nav */
        /* position:fixed; */
        margin-top: 0px;
        /* Disposition des éléments */
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        /* Apparence */
        background-color: rgb(244, 233, 215);
        border-bottom: 1px solid #12111055;
        box-shadow: 0px 50px 50px rgba(71, 71, 71, 0.37);
        /* height:50px;
        width:100vh; */
        border-radius: 0 0 50% 50%;   
        /* Apparence */
        width: 100%;
        height: 150px;

    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-liens{
      width: 45%;
      height: 50px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-liens.NavBarHaut-responsive-desktop-tablet-liens1{
      display: flex;
      align-items: end;
      justify-content: end;
      padding-right: 9px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-liens.NavBarHaut-responsive-desktop-tablet-liens2{
      display: flex;
      align-items: end;
      justify-content: start;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-logo{
      display: flex;
      justify-content: center;
      width: 10%;
      height: 50px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres{
      transition-duration: 1s;
        font-size: 25px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet:hover a.titres{
      transition-duration: 1s;
      font-size: 27px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres:hover{
        text-decoration: underline;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHautLogoLien #NavBarHautLogoImage{
        /* margin-top: 0px; */
        /* margin-top: 70%; */
        width:200px;
        height:200px;
    }




  /* SECTION PRESENTATION */
  
  /* FORMES ET ANIMATIONS DES BULLES */
    #SectionPresentation{
        background-image: url(../images/imageBackGroundIndex-whiteversion.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 300px;
        margin-top: -50px;
    }

    #SectionPresentation .boxsAccueil{
        margin: 0px 100px;
        width: 500px;
        height: 500px;
    }
    #SectionPresentation .boxsAccueil:hover{
        width: 550px;
        height: 550px;
    }

  /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
    #SectionPresentation #boxStudioLabel{
        margin-top:300px;
        width: 600px;
        height: 600px;
    }
    #SectionPresentation #boxStudioLabel:hover{
        width: 650px;
        height: 650px;
    }


  /* LIENS DANS LES IMAGES/BOXS*/
    #SectionPresentation .boxsAccueil a.titres{
        font-size:35px;
        width: 320px;
        height: 320px;
    }
    #SectionPresentation .boxsAccueil:hover .titres{
        font-size:50px;
    }
     /* IMAGES DANS BULLES DE PRESENTATION */
    #SectionPresentation #boxStudioEcosysteme{
        background-image: url(../images/IdentiteArtistique.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #SectionPresentation #boxStudioLabel{
        background-image: url(../images/StudioPresentation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #SectionPresentation #boxStudioNews{
        background-image: url(../images/Evenements.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }




  /*BACKGROUND ANIMé */
    section#animated-background .air{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: url(../images/wave-naabadversion.png);
      background-size: 100% 300px
    }
    section#animated-background .air.air1{
      animation: wave 30s linear infinite;
      z-index: 4;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }
    section#animated-background .air.air2{
      animation: wave2 15s linear infinite;
      z-index: 3;
      opacity: 0.3;
      animation-delay: -15s;
      bottom: 15px;
    }
    section#animated-background .air.air3{
      animation: wave 30s linear infinite;
      z-index: 2;
      opacity: 0.2;
      animation-delay: -8s;
      bottom: 20px;
    }
    section#animated-background .air.air4{
      animation: wave2 5s linear infinite;
      z-index: 1;
      opacity: 0.5;
      animation-delay: -20s;
      bottom: 30px;
    }
}



















@media screen and (max-width: 1681px){
 /* BARRE DE NAVIGATION */
    #navBarHaut.NavBarHaut-responsive-desktop-tablet{
        width: 100%;
        height: 80px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres{
        /* margin: 0px 20px 0px 20px; */
        transition-duration: 1s;
        text-decoration: none;
        color: rgb(36, 32, 59);
        font-size: 17px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet:hover a.titres{
        /* margin: 0px 20px 0px 20px; */
       transition-duration: 1s;
        text-decoration: none;
        color: rgb(36, 32, 59);
        font-size: 18px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres:hover{
      text-decoration: underline;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHautLogoLien #NavBarHautLogoImage{
        /* margin-top: 0px; */
        /* margin-top: 70%; */
        width:200px;
        height:172px;
    }
    
    
    
    
  /* SECTION PRESENTATION */
  /* FORMES ET ANIMATIONS DES BULLES */
    #SectionPresentation{
        /* forme de la section */
        z-index: 5;
        width: 100%;
        height: 100%;
        /* disposition de la section */
        /* position:fixed; */
        /* disposition des éléments dans la section*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        margin-top: -50px;
    }
    
    
    #SectionPresentation .boxsAccueil{
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.6s;
        margin: 0px 50px;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        /* transform: rotate(45deg); */
        /* background-color: antiquewhite; */
        filter:saturate(0.3);
        filter:blur(10 10 10);
        border: 1px double rgb(36, 32, 59);
        outline: 3px solid rgb(244, 233, 215);
        outline-offset: -1px;
    }
    #SectionPresentation .boxsAccueil:hover{
        transition-duration: 0.6s;
        width: 300px;
        height: 300px;
        border: 10px double rgb(36, 32, 59);
        outline: 15px solid rgb(244, 233, 215);
        outline-offset: -1px;
        /* border: thick double rgb(36, 32, 59); */
        box-shadow: 0px 0px 50px 30px rgba(71, 71, 71, 0.37);
    }
    /* LIENS DANS LES IMAGES/BOXS*/
    #SectionPresentation .boxsAccueil a.titres{
        transition-duration: 1s;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;
        color:rgba(255, 255, 255, 0);
        font-size:25px;
        width: 280px;
        height: 280px;
        border-radius: 50%;
    
    }
    #SectionPresentation .boxsAccueil:hover .titres{
        transition-duration: 1s;
         color:rgb(244, 233, 215);
         font-size:30px;
         text-shadow: 1px 1px 1px rgb(36, 32, 59);
    }
    
  /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
    #SectionPresentation #boxStudioLabel{
        transition-duration: 0.6s;
        margin-top:180px;
        width: 350px;
        height: 350px;
    }
    #SectionPresentation #boxStudioLabel:hover{
        transition-duration: 0.6s;
        width: 370px;
        height: 370px;
    }
    #SectionPresentation #boxStudioLabel a.titres{
        transition-duration: 1s;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;
        color:rgba(255, 255, 255, 0);
        font-size:25px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
    
    }
    #SectionPresentation #boxStudioLabel:hover a.titres{
       transition-duration: 1s;
         color:rgb(244, 233, 215);
         font-size:30px;
         text-shadow: 1px 1px 1px rgb(36, 32, 59);
    
    }
    
    
  

/* NAABAB ANIMATé */
  #animated-naabad-section {
      z-index: 0;
      position: fixed;
      margin-top: -320px;
  }
    .animated-naabad h1 {
      color: rgb(255, 255, 255);
      font-size: 55px;
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  .animated-naabad h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(36, 32, 59);
    font-family: Metamorphous;
  }

  .animated-naabad h1:nth-child(2) {
    color: rgb(196, 189, 176);
    animation: animate 4s ease-in-out infinite;
    font-family: Metamorphous;
  }
}



















@media screen and (max-width: 1441px){
  /* NAVBAR  */
    #navBarHaut.NavBarHaut-responsive-desktop-tablet {
      height: 80px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres{
        font-size: 20px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet:hover a.titres{
        font-size: 21px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHautLogoLien #NavBarHautLogoImage{
        /* margin-top: 120px; */
        width:200px;
        height:172px;
    }




  /* SECTION PRESENTATION */
  /* FORMES ET ANIMATIONS DES BULLES */
    #SectionPresentation{
        /* forme de la section */
        z-index: 5;
        width: 100%;
        height: 100%;
        /* disposition de la section */
        /* position:fixed; */
        /* disposition des éléments dans la section*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        margin-top: -50px;

        background-image: url(../images/imageBackGroundIndex-naabadversion-1440.png);
        background-size:cover;
        background-repeat: no-repeat;
    }


    #SectionPresentation .boxsAccueil{
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.6s;
        margin: 0px 50px;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        /* transform: rotate(45deg); */
        /* background-color: antiquewhite; */
        filter:saturate(0.3);
        filter:blur(10 10 10);
        border: 1px double rgb(36, 32, 59);
        outline: 3px solid rgb(244, 233, 215);
        outline-offset: -1px;
    }
    #SectionPresentation .boxsAccueil:hover{
        transition-duration: 0.6s;
        width: 280px;
        height: 280px;
        border: 10px double rgb(36, 32, 59);
        outline: 15px solid rgb(244, 233, 215);
        outline-offset: -1px;
        /* border: thick double rgb(36, 32, 59); */
        box-shadow: 0px 0px 50px 30px rgba(71, 71, 71, 0.37);
    }
    /* LIENS DANS LES IMAGES/BOXS*/
      #SectionPresentation .boxsAccueil a.titres{
          transition-duration: 1s;
          
          display: flex;
          align-items: center;
          justify-content: center;
          
          text-decoration: none;
          color:rgba(255, 255, 255, 0);
          font-size:25px;
          width: 280px;
          height: 280px;
          border-radius: 50%;
  
      }
      #SectionPresentation .boxsAccueil a.titres h2{
          font-size: 25px;
          text-align: center;
      }
      #SectionPresentation .boxsAccueil:hover .titres{
          transition-duration: 1s;
          color:rgb(244, 233, 215);
          font-size:30px;
          text-shadow: 1px 1px 1px rgb(36, 32, 59);
      }

  /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
    #SectionPresentation #boxStudioLabel{
      transition-duration: 0.6s;
      margin-top:200px;
      width: 360px;
      height: 360px;
    }
    #SectionPresentation #boxStudioLabel:hover{
      transition-duration: 0.6s;
      width: 380px;
      height: 380px;
    }
    #SectionPresentation #boxStudioLabel a.titres{
      width: 360px;
      height: 360px;
    }
    #SectionPresentation #boxStudioLabel a.titres h2{
        font-size: 25px;
        text-align: center;
    }




  /*BACKGROUND ANIMé */
    section#animated-background .air{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: url(../images/wave-naabadversion.png);
      background-size: 100% 60px
    }
    section#animated-background .air.air1{
      animation: wave 30s linear infinite;
      z-index: 4;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }
    section#animated-background .air.air2{
      animation: wave2 15s linear infinite;
      z-index: 3;
      opacity: 0.3;
      animation-delay: -15s;
      bottom: 10px;
    }
    section#animated-background .air.air3{
      animation: wave 30s linear infinite;
      z-index: 2;
      opacity: 0.2;
      animation-delay: -8s;
      bottom: 15px;
    }
    section#animated-background .air.air4{
      animation: wave2 5s linear infinite;
      z-index: 1;
      opacity: 0.5;
      animation-delay: -20s;
      bottom: 20px;
    }

  /* NAABAB ANIMATé */
    #animated-naabad-section {
        margin-top: -360px;
    }
      .animated-naabad h1 {
        color: rgb(255, 255, 255);
        font-size: 55px;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .animated-naabad h1:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px rgb(36, 32, 59);
      font-family: Metamorphous;
    }

    .animated-naabad h1:nth-child(2) {
      color: rgb(196, 189, 176);
      animation: animate 4s ease-in-out infinite;
      font-family: Metamorphous;
    }

}



















@media screen and (max-width: 1025px){
  /* NAVBARHAUT DESKPTOP TABLET */
    #navBarHaut.NavBarHaut-responsive-desktop-tablet {
      height: 70px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-liens{
      width: 45%;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres{
        font-size: 15px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet:hover a.titres{
        font-size: 16px;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-logo{
      width: 10%;
    }
    #navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHautLogoLien #NavBarHautLogoImage{
        /* margin-top: 80px; */
        width:150px;
        height:129px;
    }

  /* SECTION PRESENTATION */
    #SectionPresentation{
        /* disposition des éléments dans la section*/

        padding-bottom: 90px;
        margin-top: -50px;

        background-image: url(../images/imageBackGroundIndex-naabadversion-1024.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #SectionPresentation .boxsAccueil{
        margin: 0 30px;
        width: 220px;
        height: 220px;

    }
    #SectionPresentation .boxsAccueil:hover{
        width: 240px;
        height: 240px;

    }
    #SectionPresentation .boxsAccueil a.titres{
        font-size:20px;
        width: 220px;
        height: 220px;
    }
    #SectionPresentation .boxsAccueil a.titres h2{
        font-size: 25px;
        text-align: center;
    }

    /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
      #SectionPresentation #boxStudioLabel{
          margin-top:160px;
          width: 320px;
          height: 320px;
      }
      #SectionPresentation #boxStudioLabel:hover{
          width: 340px;
          height: 340px;
      }
      #SectionPresentation #boxStudioLabel a.titres{
          width: 320px;
          height: 320px;
      }
      #SectionPresentation #boxStudioLabel a.titres h2{
          font-size: 25px;
          text-align: center;
      }

  /* RESEAUX SOCIAUX */
      section#ReseauxSociaux{
    margin-bottom: -470px;
   }

  /* NAABAD ANIMé */
    #animated-naabad-section {
        margin-top: -350px;
    }
      .animated-naabad h1 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .animated-naabad h1:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px rgb(36, 32, 59);
      font-family: Metamorphous;
    }

    .animated-naabad h1:nth-child(2) {
      color: rgb(196, 189, 176);
      animation: animate 4s ease-in-out infinite;
      font-family: Metamorphous;
    }

}


















@media screen and (max-width: 769px){

/* NAVBAR DESKTOP TABLET */
#navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHautLogoLien #NavBarHautLogoImage{
    /* margin-top: 80px; */
    width:150px;
    height:129px;
}
#navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-liens{
  width: 47.5%;
}
#navBarHaut.NavBarHaut-responsive-desktop-tablet a.titres{
    font-size: 14px;
}
#navBarHaut.NavBarHaut-responsive-desktop-tablet:hover a.titres{
    font-size: 15px;
}
#navBarHaut.NavBarHaut-responsive-desktop-tablet #NavBarHaut-responsive-desktop-tablet-logo{
  width: 15%;
}


/* SECTION PRESENTATION */
  #SectionPresentation{
    /* disposition des éléments dans la section*/

    padding-bottom: 100px;
    margin-top: -50px;

    background-image: url(../images/imageBackGroundIndex-naabadversion-768.png);
    background-size: contain;
    background-repeat: no-repeat;
}


#SectionPresentation .boxsAccueil{
    margin: 0 20px;
    width: 160px;
    height: 160px;

}
#SectionPresentation .boxsAccueil:hover{
    margin: 0 20px;
    width: 160px;
    height: 160px;
}
#SectionPresentation .boxsAccueil a.titres{
    text-decoration: none;
    color:#F3E9D6;
    text-shadow: 1px 1px 1px rgb(36, 32, 59);
    width: 160px;
    height: 160px;
    border-radius: 50%;

}
#SectionPresentation .boxsAccueil a.titres h2{
    font-size:25px;
    text-align: center;
}
/* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
#SectionPresentation #boxStudioLabel{
    margin-top:160px;
    width: 260px;
    height: 260px;
}
#SectionPresentation #boxStudioLabel:hover{
    width: 260px;
    height: 260px;
}
#SectionPresentation #boxStudioLabel a.titres{
    color:#F3E9D6;
    text-shadow: 1px 1px 1px rgb(36, 32, 59);
    width: 260px;
    height: 260px;
}
#SectionPresentation #boxStudioLabel a.titres h2{
    font-size: 25px;
    text-align: center;
}

 /* RESEAUX SOCIAUX */
      section#ReseauxSociaux{
    margin-bottom: -400px;
   }


/* NAABAD ANIMé */
#animated-naabad-section{
    margin-bottom: 0px;
  }
  .animated-naabad h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}
.animated-naabad h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(36, 32, 59);
  font-family: Metamorphous;
}

.animated-naabad h1:nth-child(2) {
  color: rgb(196, 189, 176);
  animation: animate 4s ease-in-out infinite;
  font-family: Metamorphous;
}


}

















/* BARRE DE NAV DU HAUT POUR MOBILE*/
@media screen and (max-width: 426px) {
#SectionPresentation{
  background-image: url(../images/imageBackGroundIndex-mobile-425.png);
   background-size: cover;
    background-repeat: no-repeat;
}

/* NAVBAR */
#navBarHaut.NavBarHaut-responsive-desktop-tablet{
    display: none;
}
#navBarHaut.NavBarHaut-responsive-mobile{
    display: block;

    /* Disposition des éléments */
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    /* Apparence */
    height:60px;
    width:100%;
    
}
#navBarHaut.NavBarHaut-responsive-mobile section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens{
    width: 40%;
}

#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens a.titres{
    margin: 0px 10px;
    text-decoration: none;
    font-size:14px;
    color: rgb(36, 32, 59);
    text-shadow: 0px 0px 1px rgb(36, 32, 59);
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo{
    width: 30%;
    height: 100%;
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo #NavBarHautLogoLien #NavBarHautLogoImage{
    margin-top: 40px;
    width:80px;
    height:69px;
}
/* RESEAUX SOCIAUX */

   section#ReseauxSociaux{
    display: none;
  }
  #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautReseauxSociaux{
      z-index: 11;

      width: 30%;
      flex-direction: column;
      padding-top: 40px;
  }
  section.ReseauxSociaux-icones a.ReseauxSociaux-liens img{
    transition-duration: 0.6s;
    width: 35px;
    }
   section.ReseauxSociaux-icones a.ReseauxSociaux-liens img:hover{
    transition-duration: 0.6s;
    width: 40px;
   }

/* SECTION PRESENTATION */
  #SectionPresentation{
    flex-direction: column;
    padding-bottom: 0px;
    margin-top: -50px;
  }
  #SectionPresentation .boxsAccueil{
    margin-top: 20px;
    width: 150px;
    height: 150px;
  }
  #SectionPresentation .boxsAccueil a.titres{
      color:#F3E9D6;
      width: 150px;
      height: 150px;
  }
  #SectionPresentation .boxsAccueil a.titres h2{
      font-size: 20px;
      text-align: center;
    }
  /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
  #SectionPresentation #boxStudioLabel{
      margin-top:20px;
      width: 200px;
      height: 200px;
  }
  #SectionPresentation #boxStudioLabel a.titres{
      color:#F3E9D6;
      width: 200px;
      height: 200px;
  }
  #SectionPresentation #boxStudioLabel a.titres h2{
      font-size: 20px;
      text-align: center;
  }



/* NAABAD ANIMé */
  #animated-naabad-section{
    z-index: 2;
    margin-bottom: -980px;
  }
  .animated-naabad h1 {
    color: rgb(255, 255, 255);
    font-size: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .animated-naabad h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(36, 32, 59);
    font-family: Metamorphous;
  }

  .animated-naabad h1:nth-child(2) {
    color:#F3E9D6;
    animation: animate 4s ease-in-out infinite;
    font-family: Metamorphous;
  }

}




















@media screen and (max-width: 376px){
/* NAVBAR */
  #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens{
      width: 40%;
      height: 100%;
  }
  #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens a.titres{
    color:rgb(36, 32, 59);
    font-size:14px;
  }
  #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo{
      width: 30%;
      height: 100%;
  }
  #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo #NavBarHautLogoLien #NavBarHautLogoImage{
      margin-top: 40px;
      width:80px;
      height:69px;
  }
   /* RESEAUX SOCIAUX */
    #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautReseauxSociaux{
      width: 30%;
      padding-top: 40px;
  }
   section.ReseauxSociaux-icones a.ReseauxSociaux-liens img{
    transition-duration: 0.6s;
    width: 35px;
    }
   section.ReseauxSociaux-icones a.ReseauxSociaux-liens img:hover{
    transition-duration: 0.6s;
    width: 40px;
   }


  /* SECTION PRESENTATION */
    #SectionPresentation{
      background-image: url(../images/imageBackGroundIndex-mobile-375.png);
      background-size: cover;
        background-repeat: no-repeat;
      padding-bottom: 0px;
      margin-top: -50px;

    }
    #SectionPresentation .boxsAccueil{
      margin-top: 20px;
      width: 150px;
      height: 150px;
    }
    #SectionPresentation .boxsAccueil a.titres{
        color:rgb(255, 255, 255);
        width: 150px;
        height: 150px;
    }
      #SectionPresentation .boxsAccueil a.titres h2{
        font-size: 20px;
        text-align: center;
    }
    /* BULLE DU MILIEU UN PEU PLUS GROSSE QUE LES DEUX AUTRES */
      #SectionPresentation #boxStudioLabel{
          margin-top:20px;
          width: 200px;
          height: 200px;
      }
      #SectionPresentation #boxStudioLabel a.titres{
          width: 200px;
          height: 200px;
      }
      #SectionPresentation #boxStudioLabel a.titres h2{
          font-size: 20px;
          text-align: center;
      }


  /* NAABAD ANIMé */
    #animated-naabad-section{
      margin-bottom: -980px;
    }
    .animated-naabad h1 {
      color: rgb(255, 255, 255);
      font-size: 1em;
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .animated-naabad h1:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px rgb(36, 32, 59);
      font-family: Metamorphous;
    }

    .animated-naabad h1:nth-child(2) {
      color:#F3E9D6;
      animation: animate 4s ease-in-out infinite;
      font-family: Metamorphous;
    }


}



















@media screen and (max-width: 321px){
/* NAVABAR */
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens{
    width: 40%;
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLiens a.titres{
     margin: 0px 7px;
  color:rgb(36, 32, 59);
  font-size:12px;
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo{
    width: 30%;
    height: 100%;
}
#navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautLogo #NavBarHautLogoLien #NavBarHautLogoImage{
    margin-top: 40px;
    width:80px;
    height:69px;
}
 /* RESEAUX SOCIAUX */
    #navBarHaut.NavBarHaut-responsive-mobile section#NavBarHautReseauxSociaux{
      width: 30%;
      padding-top: 40px;
  }
   section.ReseauxSociaux-icones a.ReseauxSociaux-liens img{
    transition-duration: 0.6s;
    width: 35px;
    }
   section.ReseauxSociaux-icones a.ReseauxSociaux-liens img:hover{
    transition-duration: 0.6s;
    width: 40px;
   }


/* SECTION PRESENTATION */
#SectionPresentation{
  background-image: url(../images/imageBackGroundIndex-mobile-320.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  margin-top: -50px;
}

#SectionPresentation .boxsAccueil{
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
#SectionPresentation #boxStudioLabel{
    margin-top:20px;
    width: 200px;
    height: 200px;
}
#SectionPresentation #boxStudioLabel a.titres{
    width: 200px;
    height: 200px;
}
#SectionPresentation #boxStudioLabel a.titres h2{
    font-size: 20px;
    text-align: center;
  }
  #SectionPresentation .boxsAccueil a.titres{
    width: 150px;
    height: 150px;
  }
  #SectionPresentation .boxsAccueil a.titres h2{
    font-size: 20px;
    text-align: center;
}

/* NAABAD ANIMé */
#animated-naabad-section{
    margin-bottom: -980px;
  }
  .animated-naabad h1 {
    color: rgb(255, 255, 255);
    font-size: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}
.animated-naabad h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(36, 32, 59);
  font-family: Metamorphous;
}

.animated-naabad h1:nth-child(2) {
  color:#F3E9D6;
  animation: animate 4s ease-in-out infinite;
  font-family: Metamorphous;
}

/* BACKGROUND ANIMe */
section#animated-background .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../images/wave.png);
  background-size: 100% 20px;
}
section#animated-background .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 3;
  opacity: 0.3;
  animation-delay: 15s;
  bottom: 3px;
}
section#animated-background .air.air3{
  animation: wave 30s linear infinite;
  z-index: 2;
  opacity: 0.2;
  animation-delay: 8s;
  bottom: 4px;
}
section#animated-background .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 1;
  opacity: 0.5;
  animation-delay: 20s;
  bottom: 7px;
}
}





